@{
    //ViewBag.Title = "hello";

    ViewData["Title"] = "NgStrapper";
    Layout = "";
}

<!DOCTYPE html>
<html>
    <head>
        <base href="/" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Admin</title>

        <environment names="Development,Production">

        </environment>
        <environment names="Testing">
        </environment>
</head>
<body>
    <app>
        <span>Loading Admin...</span>
    </app>
</body>
</html>
